*{
    background-color: #292B2F;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 32px;
    margin: 0px;
}


.menu {
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 700px;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 80px;
    background-color: #18191C;


}


.itens_menu,
a {
    display: flex;
    flex-direction: row;
    color: white;
    gap: 50px;
    outline: none;
    text-decoration: none;
    background-color: #18191C;

}

a:hover {
    color: #525252;
    font-size: larger;
    text-transform: uppercase;

}


li {
    list-style-type: none;
}


.item_home {
    display: flex;
    margin-right: 30px;

}



.forms{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    text-align: center;
    color: white;
    margin-top: 30px;
}

.msg{
    display: flex;
    margin-left: -200px;
    margin-top: 100px;
    color: white;
    font-family: "Roboto";
    font-weight: 100;
}

.forms{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mensagem{
    display: flex;
    margin-left: 170px;
    font-family: 'Roboto';
}

.telefone{
    font-family: "Roboto";
    font-weight: 100;
    margin-left: -100px;
}

.input_tel{
    background-color: white;
    border-radius: 18px 2px;
    height: 7vh;
}

.box{
    display: flex;
    width: 600px;
    height: 200px;
    background-color: white;
    margin-top: -100px;
    border-radius: 18px 2px;
}

button{
    margin-top: 10px;
    background-color: #28a745;
    font-family: "Roboto";
    font-weight: 400;
}

footer {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #292B2F;
    text-align: center;
    padding: 10px 0;

}
