* {
    background-color: #18191C;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 32px;
    margin: 0px;
}


.menu {
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 700px;
    align-items: center;
    justify-content: center;
    width: 98%;
    height: 80px;


}


.itens_menu,
a {
    display: flex;
    flex-direction: row;
    color: white;
    gap: 50px;
    outline: none;
    text-decoration: none;

}

a:hover {
    color: #525252;
    font-size: larger;
    text-transform: uppercase;

}


li {
    list-style-type: none;
}


.item_home {
    display: flex;
    margin-right: 30px;

}


.informativo {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    background-color: #292B2F;
    align-items: center;

}


.img_Hian {
    display: flex;
    align-items: start;
    justify-content: start;
    margin-top: 70px;
    border-radius: 50%;
    width: 300px;
    height: 300px;
}





.formulario{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    background-color: #292B2F;
    text-align: center;
    margin-bottom: 300px;
}

.descritivo_forms{
    background-color: #292B2F;
    align-items: center;
}

input{
    background-color: white;
    border-color: aliceblue;
    border-radius: 8px 8px;
    width: 440px;
    margin-bottom: 20px
}

label{
    color:   #18191C;
    background-color: #292B2F;
}


footer {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #292B2F;
    text-align: center;
    padding: 10px 0;

}

.contatos{
    background-color: #292B2F;
}

button{
    background-color: aliceblue;
}
