* {

    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 32px;
    margin: 0px;
}

body{
    background-color:  #292B2F;
}

.menu {
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 700px;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 80px;
    background-color: #18191C;


}


.itens_menu,
a {
    display: flex;
    flex-direction: row;
    color: white;
    gap: 50px;
    outline: none;
    text-decoration: none;

}

a:hover {
    color: #525252;
    font-size: larger;
    text-transform: uppercase;

}


li {
    list-style-type: none;
}


.item_home {
    display: flex;
    margin-right: 30px;

}

.item_portifolio {
    margin-right: 20px;
}

.informativo {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    background-color: #292B2F;


}

.img_Hian {
    display: flex;
    align-items: start;
    justify-content: start;
    margin-top: 70px;
    border-radius: 50%;
    width: 300px;
    height: 300px;
}


.projetos{
    color: white;
    text-align: center;
    background-color: #292B2F;
}



h3{
    margin-top: 30px;
    margin-bottom: 45px;
    background-color: #292B2F;
    font-family: 'Roboto Condensed';

    
}

img{
    width: 1200px;
    background-color: #292B2F;
}

.projeto_1{
    background-color: #292B2F;
    margin-bottom: 90px;
}

p{
    background-color: #292B2F;
    margin-top: 20px;
    font-family: "Roboto";
    font-weight: 100;
}

.github{
    text-align: center;
    background-color: #292B2F;
    margin-left: 590px;
    font-family: 'Roboto Condensed';
    font-weight: 100;
}

.informativo {
    background-color: #292B2F;

}


.icon{
    height: 100px;
    width: 100px;
    background-color: transparent;
    margin-left: 70px;
    margin-bottom: 30px;
    flex-direction: row;
    flex-wrap: nowrap;
}

.java {
    height: 100px;
    width: 100px;
    background-color: transparent;
    margin-left: 650px;
    margin-top: -200px;
    margin-bottom: 200px;
    
}

.linkedin{
    height: 100px;
    width: 100px;
    background-color: transparent;
    margin-left: 750px;
    margin-top: -295px;
    margin-bottom: 200px;
}



footer {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #292B2F;
    text-align: center;
    padding: 10px 0;

}


